name: Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]


jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Flit
        run: pip install flit
      - name: Install Dependencies
        run: flit install --symlink --deps develop
      - name: Lint
        run: make lint

  test-google-cloud-funtions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Flit
        run: pip install flit
      - name: Install Dependencies
        run: flit install --symlink --deps develop
      - name: Test
        run: pytest -v test.py
        working-directory: test/gcp
